* {
    font-size: 20px;
}

body {
    background-color: rgb(108, 104, 104);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#hero {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

h1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#add-list {
    width: 90%;
    padding: 5px 15px 5px 15px;
    border-top: none;
    border-left: none;
    border-right: 1.5px solid rgb(103, 103, 103);
    border-bottom: 1px solid rgb(58, 61, 131);
}

#add-list:focus {
    outline: none;
    box-shadow: -2px 4px 11px 3px;
    border-radius: 5px;
}

#to-do-list {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}
#to-do-list li {
    display: grid;
    grid-template-columns: 10% 80% 20%;
    width: 100%;
}

.pointer {
    cursor: pointer;
}
@keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: red; }
  }
.strike {  
    text-decoration: line-through;
    text-decoration-color: red;
    animation: strike 1s linear;
  }

  .remove-box {
    border: none;
  }
  .remove-box:focus {
    outline: none;
  }